<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	
		<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	<section class="banners">
		<article class="imgBanner">
			<h2 class="brandName">NIKE</h2>
			<h4 class="brandProduct1">JORDANS</h4>
			<h4 class="brandProduct2">BLAZERS</h4>
			<h4 class="brandProduct3">AIR FORCE</h4>
		</article>
		<article class="brandProducts">
			<div class="frase">
				<img src="/images/logo-nike.svg" class="brandLogo">
				<p>OFF - LIMITS</p>
			</div>
			<a class="card" href="/product/id/<%= products.lista[0].id %> ">
				<div class="img-container">
				<img class = "productImg" src="<%= products.lista[0].foto %>" alt="Product">
				</div>
				<div class="textContainer">
					<p class="nameProduct"> [<%= products.lista[0].nombre %>] </p>
				</div>
				</a>
			</a>
		</article>
	</section>

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>	
</html>