<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	
	<!-- product detail -->
	<section class="product-detailNW">
		<article class="product-product">
			<img src="/images/products/<%= producto.foto %> " class="product-img">
			<div class="container-info-username">
			 
			<div class="container-user-opciones">
				<a href="/user/<%= producto.usuarioRelacionado.id%>" class="product-username"><%= producto.usuarioRelacionado.nombre_usuario%></a>
				<%   if(locals.user != undefined) { %>
				<% if(locals.user.id == producto.usuarioRelacionado.id) { %>
				<div class="opciones-product-user">
					<a  href="./edit/<%= producto.id %>"  class="opcionesProduct"><img src="/images/icons/icon-edit.svg" ></a>
					<a href="./delete/<%= producto.id %>" class="opcionesProduct"><img src="/images/icons/delete.svg" ></a>
				</div>
				<%}%>
				<%}%>
			</div>
			
			<div class="container-info">
				<h3 class="product-name"> [<%= producto.nombre %>] </h3>
				<p class="product-desc"> <%= producto.descripcion%> </p>
			</div>
			</div>
		</article>
		<section class="coments-container">
			<article class="titulos-comentarios">
				<h2 class="comentarios-title">Comentarios</h2>
				<p> <%= producto.id%></p>
			</article>
			<section class="lista-comentarios">
				<% for( let i = 0; i < producto.comentarioDeProducto.length; i++ ) { %>
					<article class="contianer-comentario">
						<img src="/images/users/<%= producto.comentarioDeProducto[i].usuarioRelacionado.foto_usuario %>"  class="img-comentario">
						<div class="texto-comentario">
							<a  href="/user/<%= producto.comentarioDeProducto[i].usuarioRelacionado.id%>" class="username-comentario"><%= producto.comentarioDeProducto[i].usuarioRelacionado.nombre_usuario %></a>
							<p class="desc-comentario"><%= producto.comentarioDeProducto[i].comentario %></p>
						</div>
					</article>	
				<% } %>
			</section>	
			<% if(locals.user != undefined) { %>
				<h3 class="titleAddComent">Agrega el tuyo</h3>
				<form action="./addComent/<%= producto.id %>" method="POST" class="formAddComent">
					<input name="desc" type="text" class="inputAddComent" placeholder="Agrega tu comentario">
					<input name="submitComent" type="submit" class="btn-addComent">						
				</form>		
			 <% } %>
		</section>
	</section> 
	

		
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->

</body>	
</html>