<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->
	
	<!-- product detail -->
	 <section class="product-detailNW">
		<article class="product-product">
			<img src="<%= producto.foto%>" class="product-img">
			<div class="container-info">
				<h3 class="product-name"> [<%= producto.nombre %>] </h3>
				<p class="product-desc"> <%= producto.desc%> </p>
				<a  href="/product/add"class="linkAddProd"><img src="/images/icons/icon-add.svg" class="add-product"></a>
			</div>
		</article>
		<section class="coments-container">
			<article class="titulos-comentarios">
				<h2 class="comentarios-title">Comentarios</h2>
				<img src="/images/icons/icon-add.svg" class="add-coment">
			</article>
			<section class="lista-comentarios">
				<% for( let i = 0; i < comentarios.length; i++ ) { %>
					<article class="contianer-comentario">
						<img src="<%= comentarios[i].imagenDePerfil %>"  class="img-comentario">
						<div class="texto-comentario">
							<p class="username-comentario"><%= comentarios[i].nombreDeUsuario %></p>
							<p class="desc-comentario"><%= comentarios[i].textoDelComentario %></p>
						</div>
					</article>	
				<% } %>
			</section>			
		</section>
	</section> 


		
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->

</body>	
</html>