<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %> 
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12" id="col-12-id">
				<h2 class="products-title" id="products-title-id">Editar mi perfil</h2>
			</div>
		</div>
		<div>
			<% 
				if (locals.errors) { %>
				<p style="color: red;"> <%- locals.errors.message %> </p>
			<% } %>
		</div>
			<!-- Show the "ultimos" products -->
			<div class="contenedorPrinProd"> 
				<form action="" method="POST" enctype="multipart/form-data">
					<div class="containerProduct">
						<br>
						<div class="nombreBox">
							<p>Nombre de usuario</p>
							<input type="text" value="<%= usuario. nombre_usuario %>" name="usuario">
						</div>
						<br>
						<div class="nombreBox">
							<p>Email</p>
							<input type="text" value="<%= usuario.email%>" name="email">
						</div>
						<br>
						<div class="nombreBox">
							<p>DNI</p>
							<input type="number" value="<%= usuario.dni %>" placeholder="" name="dni">
						</div>
						<br>
						<div class="fechaBox">
							<p>Fecha de nacimiento</p>
							<input type="date" value="<%= usuario. fecha_nacimiento %>" name="date">
						</div> 
						<div class="fotoBox">
							<p>Foto de perfil</p>
							<input type="file" name="fotoEditar" value="-">
						</div>
						<br>
						<div class="nombreBox">
							<input type="submit" value="Enviar">
						</div>
					</div>
				</form>
			</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>
</html>