<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %> 
	
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2" id="image-container-profile">
				<img src="<%= usuario.foto %> " alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6" id="css-cajaangulada">
				<div class="d-flex align-items-center ">
					<h1 class="main-title" id="main-title-profile"> <%= usuario.username %> 
						<a href="/profile/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="" id="angulando-seguir">SEGUIR</a>
				</div>
				<div class="div-profile-datos">
					<ul class="" id="datos-caja-profile">
						<p> <%= usuario.email %> <p>
						<li class="ordenando-li-profile"> 8 productos</li>
						<li class="ordenando-li-profile" id="ordenando-li-profile-especifico">200 seguidores</li>
						<li class="ordenando-li-profile" id="ordenando-li-profile-especifico">300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title" id="moviendoProducts-title">Mis productos</h2>
			</div>
		<% for( let i = 0; i < productos.length; i++ ) { %>
				<!-- Show mis productos -->
				<div class="col-12 col-sm-6 col-lg-3" id="cajaProfileProductos123">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image">
								<img src="<%= productos[i].foto %> " alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre%></h2>
								<p><%= productos[i].desc%></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
		<% } %>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>	
</html>