<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->



<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(tipo == true){%>
				<h2 class="col-12">producto: <%= producto[0].nombre %></h2>
				<h2 class="col-12">Descripcion: <%= producto[0].desc %></h2>
				<h2 class="col-12">producto: <%= producto[0].fecha %></h2>
				<h2 class="col-12">producto: <%= producto[0].comentarios %></h2>
				<%} else{ %>
				<h2 class="col-12">producto: no encontrado</h2>
				<%}%> 	


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>