<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de busqueda</h2>
			</div>
			<% console.log(resultado, 'fede') %> 
			<!-- Show the "ultimos" products -->
			<ul class="listaBusqueda">
			<% if (resultado == undefined){%>
				<h1>No encontramos el prod buscado.</h1>
			<%}%>
			<% for(let i = 0; i < resultado.length ; i++){%>
				<li class="resultadoLista">
					<h1 class="resultadoBusqueda"><%= resultado[i].nombre %></h1>
					<div class="resultadoBusqueda"><%= resultado[i].descripcion %> </div>
				</li>
			<%}%> 
			</ul>
				
	
	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>

</html>