<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %> 
<body>
	<!-- Header -->
	<%- include('./partials/headerNw.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de busqueda: <%= palabraBuscada %> </h2>
				<% if (resultado.length == 0){%>
					<h1 class="resNE">No encontramos el prod buscado.</h1>
				<%}%>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="resultadosBusqueda">
				<div class="cardSlide">
					<% for (let i = 0; i < resultado.length ; i++) {%> 
						<a class="cardBusqueda" href="/product/id/<%= resultado[i].id%>">
						<div class="img-container">
							<img class = "productImg" src="<%= resultado[i].foto %>" alt="Product">
						</div>
						<div class="textContainer">
							<p class="nameProduct">
								[<%= resultado[i].nombre%>]
							</p>
						</div>
						</a>
					<%}%> 
				</div>
			</div>
	<!-- footer -->
	<%- include('./partials/footerNw.ejs') %>
	<!-- /footer -->
</body>

</html>